# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

AutocompleteSystem.java
DNSCacheSystem.java
FlashSaleSystem.java
FraudDetectionSystem.java
MultiLevelCacheSystem.java
ParkingLotSystem.java
PlagiarismDetector.java
RateLimiterSystem.java
RealTimeAnalytics.java
SocialMediaUsernameAvailabilityChecker.java
